@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicUltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    'NanumBarunGothic', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

/*스크롤바 안보이게 */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .custom-font {
    font-family: 'Anton', sans-serif;
  }
}

.trail-img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40px;
  height: 40px;
  z-index: 9999;
}

/* 스크롤바 커스텀 */
/* 스크롤바 전체 영역 */
.scrollArea {
  overflow-y: auto;
  height: 100%;
  padding-right: 6px;
}
.scrollArea::-webkit-scrollbar {
  width: 6px;
}
.scrollArea::-webkit-scrollbar-thumb {
  background-color: #cdb5ff;
  border-radius: 4px;
}
.scrollArea::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-datepicker {
  font-family: inherit;
  border: none;
  box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 12px 0px;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.react-datepicker__current-month {
  color: #a175ff;
  font-size: 16px;
}

.react-datepicker__day-names {
  margin-top: 20px;
}

.react-datepicker__day-name {
  color: #a175ff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}

.react-datepicker__month {
  padding: 8px;
  background-color: white;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

/* 날짜 호버 효과 */
.react-datepicker__day:hover {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px !important;
  background-color: #f3f4f6;
  color: black;
}

/* 선택된 날짜 */
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker .react-datepicker__month .react-datepicker__day--selected,
.react-datepicker .react-datepicker__month .react-datepicker__day--selected:hover {
  background-color: #cdb5ff !important;
  color: white !important;
  border-radius: 20px !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
}

.react-datepicker__navigation {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 14px;
  transition: background-color 0.2s ease;
}

.react-datepicker__navigation--previous {
  left: 12px;
}

.react-datepicker__navigation--next {
  right: 12px;
}

.react-datepicker-popper {
  z-index: 1000;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
  display: none;
}

@media (max-width: 767px) {
  .react-datepicker__current-month {
    font-size: 14px;
  }
  .react-datepicker__day-names {
    margin-top: 16px;
  }
  .react-datepicker__day-name {
    color: #a175ff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  .react-datepicker__day {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  /* 날짜 호버 효과 */
  .react-datepicker__day:hover {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 20px !important;
    background-color: #f3f4f6;
    color: black;
  }

  /* 선택된 날짜 */
  .react-datepicker__day--selected,
  .react-datepicker__day--selected:hover,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--keyboard-selected:hover,
  .react-datepicker .react-datepicker__month .react-datepicker__day--selected,
  .react-datepicker .react-datepicker__month .react-datepicker__day--selected:hover {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
  }

  .react-datepicker__navigation--previous {
    left: 10px;
  }

  .react-datepicker__navigation--next {
    right: 10px;
  }
}
