@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicUltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    'NanumBarunGothic', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

/*스크롤바 안보이게 */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .custom-font {
    font-family: 'Anton', sans-serif;
  }
}

.trail-img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40px;
  height: 40px;
  z-index: 9999;
}

/* 스크롤바 커스텀 */
/* 스크롤바 전체 영역 */
.scrollArea {
  overflow-y: auto;
  height: 100%;
  padding-right: 6px;
}
.scrollArea::-webkit-scrollbar {
  width: 6px;
}
.scrollArea::-webkit-scrollbar-thumb {
  background-color: #cdb5ff;
  border-radius: 4px;
}
.scrollArea::-webkit-scrollbar-track {
  background-color: transparent;
}
